@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+Bengali:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url("/images/shape.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
}

@media (min-width: 680px) {
    body {
        background-size: 65%;
    }
}

/* nav link animation */
.navLink {
    padding: 0 8px;
    position: relative;
}

.navLink::before {
    content: "";
    width: 0%;
    height: 2px;
    background: #FFC017;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width .3s;
}

.navLink:hover::before {
    width: 100%;
}

.active::before {
    width: 100%;
}

/* nav link animation end */